@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  overflow: hidden;
  background-color: #333;
  height: 100px;
}
.nav-bar a {
  float: right;
  display: block;
  color: #f2f2f2;
  padding: 40px 24px;
  text-decoration: none;
}
.nav-bar li{
  list-style: none;
  font-size: 15px;
}
.nav-bar h1{
  float: left;
  font-family: 'Alfa Slab One', cursive;
  padding: 15px 60px;
  font-size: 60px;
  background: -webkit-linear-gradient(purple, lightblue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-bar li :hover{
  color: powderblue;
  font-size: 20px;
}



