/* .card {   
  box-sizing: border-box;
  }  */

body {
  font-family: Arial;
  padding: 10px;
  background-image:url("https://cdn.pixabay.com/photo/2020/03/08/22/50/laughing-kookaburra-4913972_960_720.jpg");
   
}
 
.header {
  padding: 30px;
  text-align: center;
  background: white;
  back
} 
.header h1 {
  font-size: 50px;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 73.9%;
}


.rightcolumn {
  float: right;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  background-image: url("https://cdn.pixabay.com/photo/2020/03/06/08/07/fantasy-4906330_960_720.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
}
.right-card{
  background-color: white;
   padding: 20px;
  margin-top: 20px;
  

}


.row:after {
  content: "";
  display: table;
  clear: both;
}

